body {
  margin: 0;
  font-family: Helvetica;
  display: flex; /* Add this to center the container horizontally and vertically */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}